<form action="/answer">
  <div class="form-group">
      <input type="text" name="question">
  <input type="submit" value="Ask!">
  </div>
</form>



<!-- <form action="/answer" method="get">
  <input type="text" name="question" placeholder="What is your question ?">
  <input type="submit">
</form>
 -->
