// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 20px;
}

.block {
  background-color: #fffee1;
  padding: 20px;
  border-left: 4px solid lightgrey;
}

.block-question {
  padding: 20px;
  border-left: 4px solid lightgrey;
}
